@import url('https://fonts.googleapis.com/css2?family=Lobster+Two:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@300;400;500;700&display=swap');

:root {
  --fieryOrange: #ff604d;
  --sunsetPink: #f57392;
  --sunsetPinkOld: #ff4d78;
  --sunsetPinkDark: #e8456b;
  --beige: #ebd6b7;
  --darkBeige: #dac5a5;
  --lightYellow: #f1e9dc;
  --brownCoal: #33291d;
  --darkSlate: #474036;
  --goldenOrange: #e1a862;
  --lightSlate: #7a7267;
  --mutedOrange: #ad916f;
  --mutedBrown: #8f795d;
  --lobsterTwo: 'Lobster Two', serif;
  --urbanist: 'Urbanist', sans-serif;
}

body {
  margin: 0;
  background-color: var(--lightYellow);
  color: var(--darkSlate);
  font-family: var(--urbanist);
  font-weight: 500;
}

h1 {
  color: var(--darkSlate);
  font-family: var(--lobsterTwo);
}

header h1 {
  color: var(--sunsetPink);
  font-family: var(--lobsterTwo);
  font-size: 3em;
  text-shadow: -1px -1px 2px var(--lightYellow), 1px -1px 2px var(--lightYellow),
    -1px 1px 2px var(--lightYellow), 1px 1px 2px var(--lightYellow);
}

.logo {
  margin-bottom: 10px;
}

.stars {
  margin-top: 0px;
  padding-top: 0px;
  font-size: 2em;
}

h2,
h3 {
  font-family: var(--urbanist);
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2% 5%;
  padding-bottom: 5%;
}

header {
  text-align: center;
  padding-top: 5px;
  background-color: var(--darkSlate);
}

header h2 {
  font-weight: normal;
  font-size: 1.3em;
  color: var(--sunsetPink);
  margin: 5px 0;
  padding-bottom: 5px;
}

header section {
  background-image: url('/../images/header_splash.png');
  background-size: cover;
  padding-bottom: 25px;
  padding-top: 25px;
  border-bottom: 2px solid var(--sunsetPinkOld);
}

header nav {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

header a {
  text-shadow: -1px -1px 2px var(--lightYellow), 1px -1px 2px var(--lightYellow),
    -1px 1px 2px var(--lightYellow), 1px 1px 2px var(--lightYellow);
}

a {
  text-decoration: none;
  color: var(--sunsetPink);
  font-size: 1.5em;
  font-weight: 700;
}

a:hover {
  text-decoration: underline;
}

footer {
  background-color: var(--beige);
  color: var(--darkSlate);
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
  border-top: 2px solid var(--sunsetPinkOld);
}

footer a {
  font-size: 0.8em;
}

.welcome {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-image: url('/../images/welcome.png');
  background-size: cover;
}

.welcomeMsg {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--darkSlate);
  background-color: var(--beige);
  border-radius: 10px;
  margin: 5% 0;
  padding: 0 10px;
}

.welcomeMsg h1 {
  color: var(--darkSlate);
  font-size: 1.8em;
  margin-bottom: 0;
}

.datesContainer {
  padding: 10px;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  gap: 5px;
}

section .datesContainer {
  margin: 0 0 10% 0;
}

.datePicker {
  background-color: var(--lightYellow);
  color: var(--darkSlate);
  font-family: var(--urbanist);
  font-weight: bold;
  font-size: 1.5em;
  padding: 8px;
  border: 2px solid var(--mutedBrown);
}

.dateSelect {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: var(--beige);
  border: 2px solid var(--mutedBrown);
  color: var(--darkSlate);
  font-family: var(--urbanist);
  font-weight: bold;
  font-size: 1.5em;
  padding: 7px 15px;
  border-radius: 10px;
}

.dateSelect img {
  margin-left: 10px;
}

.dateSelect:hover {
  background-color: var(--darkBeige);
  cursor: pointer;
}

.searchImg {
  width: auto;
  height: 25px;
}

.specialsInfo:nth-child(2) {
  border-left: 2px solid var(--darkSlate);
  border-right: 2px solid var(--darkSlate);
  padding-left: 5px;
}

.specialsInfo:nth-child(3) {
  padding-left: 5px;
}

.displayRooms {
  color: var(--darkSlate);
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  width: 95%;
  padding: 5px;
  gap: 20px;
  margin-bottom: 5%;
  border-radius: 10px;
}

.room {
  background-color: var(--beige);
  color: var(--darkSlate);
  width: 33%;
  border-radius: 10px;
  padding-bottom: 5%;
}

.room section img {
  width: 100%;
  border-radius: 10px 10px 0 0;
}

.room h2,
.room p {
  padding: 15px;
}

.room input {
  margin-left: 15px;
}

.addExtraPerksContainer {
  margin: 0 auto;
  width: 95%;
  padding-top: 10px;
  padding-bottom: 5px;
  background-color: var(--beige);
  color: var(--darkSlate);
  text-align: center;
}

.addExtraPerksContainer h2 {
  background-color: var(--beige);
  margin: 0;
  padding: 20px 0;
  border-top: 5px solid var(--darkSlate);
  border-bottom: 5px solid var(--darkSlate);
}

.specialsInfoContainer {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  text-align: left;
  padding: 10px;
}

.bookStayWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: var(--mutedBrown);
  background-image: url('/../images/welcome.png');
  background-size: cover;
  margin: 0 auto;
  padding-top: 5px;
  padding-bottom: 5px;
  width: 95%;
}

.bookStay {
  display: flex;
  flex-direction: column;
  width: fit-content;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 5px;
  background-color: var(--lightYellow);
  color: var(--darkSlate);
  border: 2px solid var(--sunsetPink);
  border-radius: 10px;
}

.costSummary {
  margin-left: 10px;
  padding: 10px;
}

.bookStay button {
  width: fit-content;
  margin: 0 auto;
  margin-top: 5px;
  font-family: var(--urbanist);
  font-weight: bold;
  font-size: 1.5em;
  padding: 5px 10px;
  color: var(--darkSlate);
  background-color: var(--beige);
  border: 2px solid var(--mutedBrown);
  border-radius: 10px;
}

.bookStay button:hover {
  background-color: var(--darkBeige);
}

.bookStay h2 {
  color: var(--darkSlate);
}

.bookingErrorContainer {
  background-color: var(--fieryOrange);
  color: var(--darkSlate);
  font-weight: bold;
  width: fit-content;
  padding: 10px;
}

.getTransferCode {
  width: fit-content;
  padding: 5px;
  color: var(--darkSlate);
  text-align: center;
  margin: 0 auto;
}

.getTransferCode a {
  font-size: 1.5em;
}

.getTransferCode p {
  margin-top: 5px;
}

.jsonResponseLink {
  color: var(--sunsetPink);
}

.linkBookingConfirmed {
  color: var(--darkSlate);
  margin-top: 10px;
}

.adminLoginContainer {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-top: 10px;
}

.costControl {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.costControl input {
  width: 50px;
  padding: 0;
  height: 18px;
  margin-left: 10px;
  margin-right: 5px;
}

.adminLogout {
  margin-top: 5%;
}

footer {
  margin-top: 10%;
}
