body {
  margin: 0;
  background-color: darkgrey;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

header {
  text-align: center;
  background-color: grey;
  padding-top: 5px;
  padding-bottom: 5px;
}

header nav {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

/* booking-calendar */
table {
  border-collapse: collapse;
  width: fit-content;
  margin: 0 auto;
}

th,
td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

th {
  background-color: #f2f2f2;
}

td:hover {
  background-color: #e6e6e6;
  cursor: pointer;
}

.displayRooms {
  background-color: grey;
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.room {
  background-color: lightgrey;
  padding: 10px;
}
