:root {
  --magenta: #ff4de1;
  --fieryOrange: #ff604d;
  --sunsetPink: #ff4d78;
  --lilac: #f0c7fc;
  --beige: #fccab6;
  --darkBlue: #19334f;
  --blue: #224264;
}

body {
  margin: 0;
  background-color: var(--darkBlue);
  color: var(--sunsetPink);
}

h1 {
  color: var(--darkBlue);
}

main {
  background-color: var(--blue);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 5%;
  margin-right: 5%;
}

header {
  text-align: center;
  background-color: var(--sunsetPink);
  padding-top: 5px;
  padding-bottom: 5px;
}

header nav {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

footer {
  background-color: var(--sunsetPink);
  color: var(--darkBlue);
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
}

/* Calendar */
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

thead,
td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

thead {
  background-color: #f2f2f2;
}

tbody td {
  background-color: #fff;
}

.selected {
  background-color: #a7e4bc; /* Change the color for selected days */
}

/* end Calendar */

.displayRooms {
  background-color: var(--sunsetPink);
  color: var(--darkBlue);
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.room {
  background-color: var(--lilac);
  color: var(--darkBlue);
  padding: 10px;
}

.bookingErrorContainer {
  background-color: var(--fieryOrange);
  color: var(--darkBlue);
  width: fit-content;
}

.getTransferCode {
  width: fit-content;
  padding: 5px;
  background-color: var(--sunsetPink);
  color: var(--darkBlue);
  text-align: center;
}

footer {
  margin-top: 10%;
}
